<section id="homepage">
    <div class="bg-[url(/assets/images/restaurant.jpg)] absolute size-full bg-fixed bg-cover bg-center flex flex-col jusity-center">
        <div class="mx-auto flex flex-col jusity-center items-center md:max-w-xl sm:max-w-md max-w-xs bg-white dark:bg-slate-900 shadow-xl
                    md:px-40 sm:px-20 px-10 md:py-15 sm:py-10 py-5 md:pb-25 sm:pb-15 pb-10
                    md:gap-10 gap-15 md:mt-20 sm:mt-15 mt-10 rounded-xl
                    border-2 border-gray-500">
            <h1 class="md:text-4xl sm:text-3xl text-2xl text-black dark:text-white font-bold">Search</h1>
            <app-search-bar></app-search-bar>
        </div>
    </div>
</section>
